body {
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
	background-color: #0496cc;
	user-select: none;
}

html, body, #outer-container {
	height: 100%;
	width: 100%;
	color: #FFF;
	font-family: sans-serif;
}

h1 {
	font-size: 50px;
}

#outer-container {
	display: grid;
	flex-direction: column;
	justify-content: center;
	align-items: space-around;
}

#pomodoro, #pomodoro-canvas {
	height: 300px;
	width: 300px;
}

#pomodoro {
	border: 10px solid white;
	border-radius: 50%;
	margin: 0 auto;
}

#pomodoro-canvas {
	z-index: -1;
	position: absolute;
	display: block;
	margin-top: -300px;
}

#header-container {
	display: flex;
	align-items: center;
}

#control-container {
	font-size: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.title {
	font-size: 16px;
}

#text-container {
	height: 100%;
	font-size: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.pointy {
	cursor: pointer;
}